<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <h1>Creador : Alba Mª Gallego Montejo</h1>
   <img width="350" height="300" src="alba.jpg"></img>
<iframe width="560" height="315" src="https://www.youtube.com/embed/1deSDFGww3I" frameborder="0" allowfullscreen></iframe>
<footer><a href=/> Página Principal</a></footer>
</body>
</html>
