<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>El portal donde podrá crear sus propios juegos!</p>

<p><a href="/quizzes"> Comience a jugar </a></p>

<footer><a href= https://github.com/albagm060195/ProyectoQuiz>Página Github</a>
<a href= /author> Créditos</a>
</footer>


</body>
</html>
