
<h2>Pregunta</h2>

<p>
  <form method="get" action="/quizzes/<%= quiz.id %>/check">
    <p>
      <%= quiz.question %>
    
      <input type="text" name="answer" value="<%= answer %>" placeholder="Respuesta" />
      <input type="submit" value="Comprobar">
    </p>
  </form>
</p>



<ul>
</ul>
